* {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
}

.header {
    display: flex;
    /* background: #dfdfdf; */
    align-items: center;
    width: 65vw;
    margin: auto;
    justify-content: space-between;
    padding: 30px 35px;
}

.title {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    /* letter-spacing: .5px; */
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: right;
    position: relative;
}

a {
    font-size: .9em;
    color: #868b8f;
}

.nav_settings {
    font-size: .9em;
    color: #868b8f;
    display: flex;
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
}

#game {
    width: 65vw;
    height: 50vh;
    background: #eeeeee;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#caption {
    background: #fdfdfd;
    padding: 50px;
    margin-top: 12px;
    display: grid;
    place-items: center;
    color: #868b8f;
}

.bottom {
    text-align: center;
}

#button {
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    background: #e47171;
    width: 210px;
    margin: auto;
    font-size: 1.1em;
    color: #ffffff;
}

#button:hover {
    background: #c26161;
}

#button:disabled {
    background: #dddddd;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid #dddddd;
    display: grid;
    place-items: center;
    font-size: 2.1em;
    border-radius: 13px;
    color: #3c3f44;
}

.box:nth-of-type(1) {
    border: 1px solid #3c3f44;
}

.settings {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    color: #272c31;
    padding: 25px;
    position: absolute;
    top: 70px;
    right: 19vw;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #dddddd;
}

.settings-numbers {
    font-size: 2.6em;
    /* border: #eeeeee solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

#minus, 
#plus {
    /* background: #eeeeee; */
    padding: 10px 20px;
    text-align: center;
}

.settings-text {
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    background: #e47171;
    margin: auto;
    font-size: 1.1em;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.settings-text:hover {
    background: #c26161;
}