* {
    margin: 0;
    box-sizing: border-box;
    color: #42474e;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: .5px;
    line-height: 1.6;
    font-size: 1.1rem;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
}

.header {
    display: flex;
    align-items: center;
    width: 50vw;
    margin: auto;
    justify-content: space-between;
    padding: 35px 0;
}

.container {
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.2em;
    font-weight: 500;
}

.inline {
    font-size: .8rem;
    font-weight: 500;
    margin-left: 8px;
}

.nav {
    display: flex;
    gap: 25px;
    justify-content: right;
    position: relative;
}

a {
    text-decoration: none;
    font-size: .9em;
    font-weight: 500;
}

a:hover {
    color: #eb5252;
}

#navsettings {
    font-size: .9em;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#navsettings:hover {
    color: #eb5252;
}

#game {
    width: 55vw;
    height: 50vh;
    background: #f5f5f5;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#caption {
    font-size: 1rem;
    background: #fdfdfd;
    padding: 50px;
    margin-top: 12px;
    display: grid;
    place-items: center;
    color: #9ea1a5;
}

.bottom {
    text-align: center;
}

#button {
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    background: #e47171;
    width: 210px;
    margin: auto;
    font-size: 1.1em;
    color: #ffffff;
    cursor: pointer;
}

#button:hover {
    background: #c26161;
}

#button:disabled {
    background: #dddddd;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid #dddddd;
    display: grid;
    place-items: center;
    font-size: 2.1rem;
    border-radius: 13px;
    color: #3c3f44;
}

.box:nth-of-type(1) {
    border: 1px solid #3c3f44;
    position: relative;
}

#settings {
    width: 260px;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    color: #272c31;
    padding: 25px;
    position: absolute;
    top: 85px;
    right: 25vw;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #dddddd;
}

#settingsnumbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    user-select: none;
}

#minus, 
#plus {
    font-size: 2.6rem;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
}

#number {
    font-size: 2.5rem;
}

#settingstext {
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    background: #e47171;
    margin: auto;
    font-size: .9rem;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    user-select: none;
    cursor: pointer;
}

#settingstext:hover {
    background: #c26161;
}

.box:nth-of-type(1)::before {
    content: '🎮';
    position: absolute;
    left: -95px;
    font-size: 1.6em;
    animation: roll 7500ms infinite;
}

@keyframes roll {
    50% {
      transform: rotate(0);
    }
    65% {
        transform: rotate(7deg);
      }
    80% {
        transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }